:root {
    --blue-wikipedia: #36c;
    --font-grey: #54595d;
    --gray: #a2a9b1;
    --white: #ffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: font-family: sans-serif;
}
.body {
    display: grid;
    grid-template-rows: 160px 332px 700px 312px;

}
.header {
    display: grid;
    justify-items: center;
    border-bottom: 1px solid black;
}
.logo {
    margin-block-start: 48px;
    margin-block-end: 10px;
    width: 65%;
    max-width: 220px;
    height: 52px;
    display: grid;
    grid-template-areas: 
        "icon name"
        "icon slogan"; 
    grid-template-rows: 2fr 1fr; 
    grid-template-columns: 1fr 3fr;
}
.logo .logo__icon {
    grid-area: icon;
    width: 100%;
    
}
.logo .logo__name {
    width: 90%;
    justify-self: center;
    grid-area: name;

}
.logo .logo__slogan {
    margin-block-start: -5px;
    width: 90%;
    justify-self: center;
    align-self: flex-start;
    grid-area: slogan;
}
.search-bar {
    display: flex;
    width: 95%;
    height: 48px;
    max-width: 480px;
    border: 1px solid #a2a9b1;
    justify-items: center;
    align-items: center;
    border-radius: 3px;
}
.input-search {
    border: none;
}
.search-bar p {
    font-size: 1.4rem;
    font-weight: 300;
    
}
.arrow-icon {
    padding-right: 10px;
}
.search-icon {
    display: flex;
    width: 74px;
    height: 100%;
    background-color: var(--blue-wikipedia);
}
.search-icon a {
    display: flex;
    width: 100%;
}
.search-icon a img {
    width: 30px;
    margin: 0 auto;
}
.input-search {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: none;
    font-size: 1.8rem;
}
.search-bar input {
    outline: unset;
}
.search-bar:hover {
    border: 2px solid var(--blue-wikipedia);    
}

.header-nav {
    width: 100%;
    height: 100%;
    
}
.primary-links {
    display: grid;
    width: 100%;
    max-width: 480px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    color: var(--font-grey)
}
.link {
    padding: 6px 15px;
}
.link p {
    text-align: center;
    padding: 4px 0;
    font-family: sans-serif;
    font-size: 1.5rem;
}
.link .link-title {
    font-weight: 700;
    color: var(--blue-wikipedia);
}
.link-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.link .link-text {
    
    font-size: 1.3rem;
}
.lenguage-selector {
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 320px;
    height: 38px;
    background-color: #f8f9fa;
    border: 1px solid var(--gray);
}
.lenguage-selector .button {
    display: flex;
    text-decoration: none;
    color: var(--blue-wikipedia);
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: bold;
    justify-items: center;
    align-items: center;
}
.button .symbol {
    padding: 0 10px;
}
.button .arrow {
    padding: 10px;
}
